#  Copyright (C) Brandon Waite 2020  - All Rights Reserved
#  Unauthorized copying of this file, via any medium, is strictly prohibited
#  Proprietary
#  Updated by Brandon Waite, May 28 2020

/.tests/
/target/
scribe
test.db
debug.log
